@model Profilz.Models.User


@using (Html.BeginForm("UserModel", "Home", FormMethod.Post))
{

    @Html.LabelFor(model => model.Username)
    @Html.TextBoxFor(model => model.Username)
    @Html.ValidationMessageFor(model => model.Username)
    <br />

    @Html.LabelFor(model => model.Password)
    @Html.EditorFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)


    <br />

    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)

    <br />

    <button type="submit">Valider</button>
}

